<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/orders.css">
    <link rel="icon" href="/img/svg/logo.svg" type=”image/svg”>
    <title>shishkin</title>
</head>

<body>
<div class="wrapper">
    <div class="header lock-padding">
        <div class="container">
            <div class="cap">
                <a th:href="@{/}" class="logo">
                    <div class="logo__img">
                        <img src="/img/svg/logo.svg" alt="">
                    </div>
                    <div class="logo__text">shishkin</div>
                </a>
                <nav class="menu">
                    <ul class="menu__list">
                        <li>
                            <a th:href="@{/products}" class="menu__link">Каталог</a>
                            <span class="menu__arrow arrow"></span>
                            <ul class="sub-menu__list">
                                <li>
                                    <a th:href="@{/products}" class="sub-menu__link">Все</a>
                                </li>
                                <li th:each="category : ${categories}">
                                    <a th:href="@{'/products?category=' + ${category.id}}" th:text="${category.name}" class="sub-menu__link"></a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a th:href="@{/leathers}" class="menu__link">Кожа</a>
                        </li>
                        <li>
                            <a href="" class="menu__link">Философия бренда</a>
                        </li>
                        <li>
                            <a href="" class="menu__link">Доставка и оплата</a>
                        </li>
                        <li sec:authorize="hasRole('ADMIN')">
                            <a class="menu__link">Admin</a>
                            <span class="menu__arrow arrow"></span>
                            <ul class="sub-menu__list">
                                <li>
                                    <a th:href="@{/orders}" class="sub-menu__link">Заказы</a>
                                </li>
                                <li>
                                    <a th:href="@{/promo-codes/settings}" class="sub-menu__link">Промокоды</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <div class="menu-icon">
                    <span></span>
                </div>
            </div>
        </div>
    </div>
    <div class="body">
        <div class="order-row">
            <div class="container">
                <div class="order">
                    <div th:text="'Order ' + '#' + ${order.id}" class="order__title"></div>
                    <div class="order__info">
                        <div class="order__product-container product-container">
                            <div th:each="orderProduct : ${orderProducts}" th:data-order-product="${orderProduct.id}" class="product">
                                <div class="product__img">
                                    <img th:if="${orderProduct.productLeatherColor.images.size() == 0}" th:src="@{/images/{imageId}(imageId=${orderProduct.productLeatherColor.product.images[0].id})}" alt="">
                                    <img th:if="${orderProduct.productLeatherColor.images.size() > 0}" th:src="@{/images/{imageId}(imageId=${orderProduct.productLeatherColor.images[0].id})}" alt="">
                                </div>
                                <div class="product__info">
                                    <div class="product__field field product-field">
                                        <div class="field__title product-field__title">Товар: </div>
                                        <div th:text="${orderProduct.productLeatherColor.product.name}" class="field__value product-field__value"></div>
                                    </div>
                                    <div class="product__field field product-field">
                                        <div class="field__title product-field__title">Кожа: </div>
                                        <div th:text="${orderProduct.productLeatherColor.leatherColor.leather.name}" class="field__value product-field__value"></div>
                                    </div>
                                    <div class="product__field field product-field">
                                        <div class="field__title product-field__title">Цвет: </div>
                                        <div th:text="${orderProduct.productLeatherColor.leatherColor.color.name}" class="field__value product-field__value"></div>
                                    </div>
                                </div>
                                <div class="product__field field product-field">
                                    <div class="field__title product-field__title">Кол-во: </div>
                                    <div th:text="${orderProduct.quantity} + ' шт.'" data-order-product-quantity class="field__value product-field__value"></div>
                                </div>
                                <div class="product__field field product-field">
                                    <div class="field__title product-field__title">Цена: </div>
                                    <div th:text="${orderProduct.productLeatherColor.product.price} + ' RUB'" class="field__value product-field__value"></div>
                                </div>
                                <div th:if="${order.status.name().equals('NEW')}" class="product__interaction">
                                    <div class="product__btn" data-order-product-minus>
                                        <img src="/img/svg/minus.svg" alt="">
                                    </div>
                                    <div class="product__btn" data-order-product-plus>
                                        <img src="/img/svg/plus.svg" alt="">
                                    </div>
                                    <div class="product__btn" data-order-product-remove>
                                        <img src="/img/svg/remove.svg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div th:if="${order.status.name().equals('NEW')}" class="order__new-product new-product">
                            <div class="new-product__body">
                                <a th:href="@{/orders/{id}/add-product(id=${order.id})}">+</a>
                            </div>
                        </div>
                        <div class="order__total order-total">
                            <div class="order-total__title">ИТОГО:</div>
                            <div th:text="${order.totalCost} + ' RUB'" class="order-total__value"></div>
                        </div>
                        <div class="order__about">
                            <div class="client-info">
                                <div class="client-info__field field">
                                    <div class="field__title">Клиент: </div>
                                    <div th:text="${order.user.name}" class="field__value"></div>
                                </div>
                                <div class="client-info__field field">
                                    <div class="field__title">Почта: </div>
                                    <div th:text="${order.user.username}" class="field__value"></div>
                                </div>
                                <div class="client-info__field field">
                                    <div class="field__title">Номер телефона: </div>
                                    <div th:text="${order.user.phoneNumber}" class="field__value"></div>
                                </div>
                            </div>
                            <div class="order-info">
                                <div class="order-info__field field">
                                    <div class="field__title">Статус заказа: </div>
                                    <div th:text="${order.status.name()}" class="field__value"></div>
                                </div>
                                <div class="order-info__field field">
                                    <div class="field__title">Промокод:</div>
                                    <div th:if="${order.promoCode != null}" th:text="${order.promoCode.code} + ' (' + ${order.promoCode.discountSize} + '%)'" class="field__value"></div>
                                </div>
                                <div class="order-info__field field">
                                    <div class="field__title">Способ связи:</div>
                                    <div th:text="${order.communicationType} + ' (' + ${order.communicationData} + ')'" class="field__value"></div>
                                </div>
                                <div class="order-info__field field">
                                    <div class="field__title">Способ доставки:</div>
                                    <div th:text="${order.deliveryMethod}" class="field__value"></div>
                                </div>
                                <div class="order-info__field field">
                                    <div class="field__title">ФИО:</div>
                                    <div th:text="${order.fio}" class="field__value"></div>
                                </div>
                                <div class="order-info__field field">
                                    <div class="field__title">Адрес:</div>
                                    <div th:text="${order.address}" class="field__value"></div>
                                </div>
                                <div class="order-info__field field">
                                    <div class="field__title">Комментарий к заказу:</div>
                                    <div th:text="${order.comment}" class="field__value"></div>
                                </div>
                                <div class="order-info__field field">
                                    <div class="field__title">Время заказа:</div>
                                    <div th:text="${order.getOrderDate.format(formatter)}" class="field__value"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div th:if="${order.status.name().equals('NEW')}" class="order__interaction">
                        <form th:action="@{'/orders/' + ${order.id} + '/update-status?status=IN_PROGRESS'}" th:method="patch" class="order__btn">
                            <button type="submit">Подтвердить оплату заказа</button>
                        </form>
                        <form th:action="@{/orders/{id}/create-payment(id = ${order.id})}" th:method="patch" class="order__btn">
                            <button type="submit">Отправить на оплату</button>
                        </form>
                        <form th:action="@{/orders/{id}(id = ${order.id})}" th:method="delete" class="order__btn">
                            <button type="submit">Отменить заказ</button>
                        </form>
                    </div>
                    <div th:if="${order.status.name().equals('IN_PROGRESS')}" class="order__interaction">
                        <form th:action="@{'/orders/' + ${order.id} + '/update-status?status=COMPLETED'}" th:method="patch" class="order__btn">
                            <button type="submit">Закрыть заказ</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer-main">
            <div class="container">
                <div class="footer-body">
                    <div class="footer-body__conditions conditions">
                        <div>Оферта</div>
                        <div>Политика конфидециальности</div>
                        <div>Возврат</div>
                    </div>
                    <div class="footer-body__contacts contacts">
                        <a href="mailto:mail@mail.com" class="contacts__mail">
                            <img src="/img/svg/email.svg" alt="">
                        </a>
                        <a href="https://t.me/eboy" target="_blank" class="contacts__tg">
                            <img src="/img/svg/telegram.svg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/script.js"></script>
</div>
</body>

</html>