@charset "UTF-8";
/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
    background-color: white;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}

/*--------------------*/
@font-face {
    font-family: "Century Gothic";
    src: url("../fonts/CenturyGothic.eot");
    src: local("Century Gothic"), local("CenturyGothic"), url("../fonts/CenturyGothic.eot?#iefix") format("embedded-opentype"), url("../fonts/CenturyGothic.woff") format("woff"), url("../fonts/CenturyGothic.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Century Gothic";
    src: url("../fonts/CenturyGothic-Bold.eot");
    src: local("Century Gothic Bold"), local("CenturyGothic-Bold"), url("../fonts/CenturyGothic-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/CenturyGothic-Bold.woff") format("woff"), url("../fonts/CenturyGothic-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Deledda Open";
    src: url("../fonts/DeleddaOpen-Thin.eot");
    src: url("../fonts/DeleddaOpen-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/DeleddaOpen-Thin.woff") format("woff"), url("../fonts/DeleddaOpen-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
a {
    color: #000;
}

html, body, .wrapper, .body {
    min-height: 100%;
}

body {
    font-family: "Century Gothic";
    font-size: 16px;
    letter-spacing: 1px;
}
body._lock {
    overflow: hidden;
}

body.mouse .menu__list > li:hover .sub-menu__list {
    opacity: 1;
    pointer-events: all;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

body.mouse .menu__list > li:hover .arrow {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

body.touch .sub-menu__list.open {
    opacity: 1;
}

.wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.95);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.cap {
    padding: 0 20px;
    min-height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.logo {
    position: absolute;
    left: 0;
    margin-left: 20px;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.logo__img {
    height: 50px;
    width: 50px;
    position: relative;
}
.logo__img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: fill;
    object-fit: fill;
}
.logo__text {
    font-family: "Deledda Open";
    text-transform: uppercase;
    font-weight: 100;
    font-size: 24px;
}

.menu li > a {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.menu li:hover > a {
    color: rgb(228, 156, 0);
}
.menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.menu__list > li {
    position: relative;
    margin: 0 10px;
    padding: 11px 0;
}
@media (max-width: 1000px) {
    .menu {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.97);
        padding: 100px 30px 30px 30px;
        -webkit-transition: left 0.3s ease 0s;
        transition: left 0.3s ease 0s;
        overflow: auto;
    }
    .menu._active {
        left: 0;
    }
    .menu__list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        font-size: 24px;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}

.sub-menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 300px;
    min-height: 200px;
    opacity: 0;
    position: absolute;
    top: 35px;
    left: 50%;
    z-index: 100;
    -webkit-transform: translate(-50%, -10%);
    -ms-transform: translate(-50%, -10%);
    transform: translate(-50%, -10%);
    -webkit-box-shadow: 1px 1px 15px black;
    box-shadow: 1px 1px 15px black;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.95);
    pointer-events: none;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
@media (max-width: 1000px) {
    .sub-menu__list {
        position: relative;
        height: 0;
        min-height: unset;
        -webkit-box-align: baseline;
        -ms-flex-align: baseline;
        align-items: baseline;
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
        left: 0;
        top: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        background-color: unset;
        padding-left: 20px;
    }
    .sub-menu__list > li {
        padding: 11px 0;
    }
    .sub-menu__list.open {
        height: 100%;
    }
}

.arrow {
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 5px solid black;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.arrow.active {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.menu-icon {
    position: absolute;
    right: 0;
    margin-right: 20px;
}
@media (max-width: 1000px) {
    .menu-icon {
        z-index: 105;
        display: block;
        width: 30px;
        height: 18px;
        cursor: pointer;
    }
    .menu-icon span, .menu-icon::after, .menu-icon::before {
        position: absolute;
        left: 0;
        height: 10%;
        width: 100%;
        -webkit-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        background-color: black;
    }
    .menu-icon::before, .menu-icon::after {
        content: "";
    }
    .menu-icon::before {
        top: 0;
    }
    .menu-icon::after {
        bottom: 0;
    }
    .menu-icon span {
        top: 50%;
        -webkit-transform: scale(1) translate(0px, -50%);
        -ms-transform: scale(1) translate(0px, -50%);
        transform: scale(1) translate(0px, -50%);
    }
    .menu-icon._active span {
        -webkit-transform: scale(0) translate(0px, -50%);
        -ms-transform: scale(0) translate(0px, -50%);
        transform: scale(0) translate(0px, -50%);
    }
    .menu-icon._active::before {
        top: 50%;
        -webkit-transform: rotate(-45deg) translate(0px, -50%);
        -ms-transform: rotate(-45deg) translate(0px, -50%);
        transform: rotate(-45deg) translate(0px, -50%);
    }
    .menu-icon._active::after {
        bottom: 50%;
        -webkit-transform: rotate(45deg) translate(0px, 50%);
        -ms-transform: rotate(45deg) translate(0px, 50%);
        transform: rotate(45deg) translate(0px, 50%);
    }
}

.breadcrumbs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
    color: #666;
    padding: 0 0 30px 20px;
}
.breadcrumbs__text {
    margin: 0 5px;
    color: #666;
}

.option-btn {
    padding: 20px 15px;
    border: 1px solid white;
    border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.6);
    color: whitesmoke;
}

.cart {
    visibility: hidden;
    position: fixed;
    width: 80px;
    height: 80px;
    z-index: 11;
    right: 3%;
    top: 120px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}
.cart:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.cart:hover .cart__cost {
    opacity: 1;
    pointer-events: all;
    -webkit-transform: translate(-25%, 50%);
    -ms-transform: translate(-25%, 50%);
    transform: translate(-25%, 50%);
}
.cart__icon {
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
}
.cart__icon img {
    width: 100%;
    height: 100%;
}
.cart__quantity {
    position: absolute;
    bottom: -10%;
    right: 0;
    width: 35px;
    height: 35px;
    background-color: #000;
    border-radius: 50%;
    color: white;
    text-align: center;
    line-height: 215%;
}
.cart__cost {
    position: absolute;
    left: -100px;
    bottom: 50%;
    -webkit-transform: translate(50%, 50%);
    -ms-transform: translate(50%, 50%);
    transform: translate(50%, 50%);
    background-color: #666;
    color: white;
    display: inline-block;
    pointer-events: none;
    opacity: 0;
    padding: 10px;
    border-radius: 3px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.cart__cost::after {
    content: "";
    width: 17px;
    height: 17px;
    position: absolute;
    right: -16px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border: 10px solid transparent;
    border-left-color: #666;
    border-right: 0;
}

.order-cart-form {
    position: relative;
}
.order-cart-form__invalid-msg {
    position: absolute;
    bottom: -20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    font-size: 12px;
    color: red;
    margin-top: 10px;
    display: none;
}
.order-cart-form__invalid-msg._invalide {
    display: block;
}
.order-cart-form__promo-code-img {
    position: absolute;
    width: 50px;
    height: 50px;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-25%) scale(0);
    -ms-transform: translateY(-25%) scale(0);
    transform: translateY(-25%) scale(0);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.order-cart-form__promo-code-img._active {
    -webkit-transform: translateY(-25%) scale(1);
    -ms-transform: translateY(-25%) scale(1);
    transform: translateY(-25%) scale(1);
}
.order-cart-form__promo-code-img img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.field-promo-code {
    position: relative;
}

.footer {
    font-size: 14px;
    margin-top: 100px;
}
@media (max-width: 768px) {
    .footer {
        margin-top: 50px;
    }
}

.footer-body {
    padding: 15px 15px 0 15px;
    border-top: 1px solid black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.footer-body__conditions {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 60%;
    flex: 0 0 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.footer-body__contacts {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
@media (max-width: 768px) {
    .footer-body {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .footer-body__conditions {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}

.conditions div {
    margin: 5px 0;
}

.contacts a {
    margin: 5px;
    height: 30px;
    width: 30px;
}
.contacts img {
    height: 100%;
    width: 100%;
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    z-index: 12;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: auto;
    -webkit-transition: all 0.6s ease 0s;
    transition: all 0.6s ease 0s;
}
.popup__body {
    min-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 80px 10px;
    -webkit-transition: all 0.6s ease 0s;
    transition: all 0.6s ease 0s;
}
.popup__content {
    background-color: white;
    position: relative;
    -webkit-transition: all 0.6s ease 0s;
    transition: all 0.6s ease 0s;
    opacity: 0;
    -webkit-transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
    transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}
.popup__close {
    display: inline-block;
    position: relative;
    left: 95%;
    width: 40px;
    height: 40px;
}
.popup__close img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.popup.open {
    opacity: 1;
    visibility: visible;
}

.popup.open .popup__content {
    -webkit-transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
    transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
    opacity: 1;
}

.body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.order-menu-row {
    margin-top: 100px;
}

.order-menu {
    padding: 0 20px;
}
.order-menu__list {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
}

.orders-container {
    padding: 30px 20px 0 20px;
}

.order-item {
    margin-bottom: 20px;
}
.order-item__title {
    font-size: 18px;
    font-weight: bold;
}
.order-item__info {
    padding-top: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 14px;
}
.order-item__field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 3px;
}

.order-row {
    margin-top: 70px;
    padding: 50px 20px 0 20px;
}

.order__title {
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 25px;
}
.order__about {
    margin-top: 40px;
}
.order__interaction {
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.order__btn {
    margin-right: 5px;
}
.order__btn button {
    padding: 2px 3px;
    border: 1px solid black;
    border-radius: 3px;
}

.order-total {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 30px;
}
.order-total__title {
    font-weight: bold;
}
.order-total__value {
    margin-left: 10px;
}

.product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px;
}
.product__img {
    position: relative;
    width: 70px;
    height: 70px;
}
.product__img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.product__field {
    padding: 0 20px;
}
.product__interaction {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.product__btn {
    position: relative;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    cursor: pointer;
}
.product__btn img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 5px;
}
.field__title {
    font-weight: bold;
    text-align: right;
    min-width: 215px;
}
.field__value {
    margin-left: 10px;
}

.product-field__title {
    min-width: 60px;
}

.new-product__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.new-product__body a {
    border: 1px solid black;
    width: 30%;
    text-align: center;
    border-radius: 15px;
    font-size: 26px;
}

.order-info {
    margin-top: 25px;
}