@charset "UTF-8";
/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
    background-color: white;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}

/*--------------------*/
@font-face {
    font-family: "Century Gothic";
    src: url("../fonts/CenturyGothic.eot");
    src: local("Century Gothic"), local("CenturyGothic"), url("../fonts/CenturyGothic.eot?#iefix") format("embedded-opentype"), url("../fonts/CenturyGothic.woff") format("woff"), url("../fonts/CenturyGothic.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Century Gothic";
    src: url("../fonts/CenturyGothic-Bold.eot");
    src: local("Century Gothic Bold"), local("CenturyGothic-Bold"), url("../fonts/CenturyGothic-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/CenturyGothic-Bold.woff") format("woff"), url("../fonts/CenturyGothic-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}
a {
    color: #000;
}

body {
    font-family: "Century Gothic";
    font-size: 16px;
    letter-spacing: 1px;
}
body._lock {
    overflow: hidden;
}

body.mouse .menu__list > li:hover .sub-menu__list {
    opacity: 1;
    pointer-events: all;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

body.mouse .menu__list > li:hover .arrow {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

body.touch .sub-menu__list.open {
    opacity: 1;
}

.wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.95);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.cap {
    padding: 0 20px;
    min-height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.cap__logo {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: black;
    z-index: 1;
}

.menu li > a {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.menu li:hover > a {
    color: rgb(228, 156, 0);
}
.menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.menu__list > li {
    position: relative;
    margin: 0 10px;
    padding: 11px 0;
}
@media (max-width: 768px) {
    .menu {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.97);
        padding: 100px 30px 30px 30px;
        -webkit-transition: left 0.3s ease 0s;
        transition: left 0.3s ease 0s;
        overflow: auto;
    }
    .menu._active {
        left: 0;
    }
    .menu__list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        font-size: 24px;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}

.sub-menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 300px;
    min-height: 200px;
    opacity: 0;
    position: absolute;
    top: 35px;
    left: 50%;
    z-index: 100;
    -webkit-transform: translate(-50%, -10%);
    -ms-transform: translate(-50%, -10%);
    transform: translate(-50%, -10%);
    -webkit-box-shadow: 1px 1px 15px black;
    box-shadow: 1px 1px 15px black;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.95);
    pointer-events: none;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
@media (max-width: 768px) {
    .sub-menu__list {
        position: relative;
        pointer-events: all;
        height: 0;
        min-height: unset;
        -webkit-box-align: baseline;
        -ms-flex-align: baseline;
        align-items: baseline;
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
        left: 0;
        top: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        background-color: unset;
        padding-left: 20px;
    }
    .sub-menu__list > li {
        padding: 11px 0;
    }
    .sub-menu__list.open {
        height: 100%;
    }
}

.arrow {
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 5px solid black;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.arrow.active {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

@media (max-width: 768px) {
    .menu-icon {
        z-index: 105;
        display: block;
        position: relative;
        width: 30px;
        height: 18px;
        cursor: pointer;
    }
    .menu-icon span, .menu-icon::after, .menu-icon::before {
        position: absolute;
        left: 0;
        height: 10%;
        width: 100%;
        -webkit-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        background-color: black;
    }
    .menu-icon::before, .menu-icon::after {
        content: "";
    }
    .menu-icon::before {
        top: 0;
    }
    .menu-icon::after {
        bottom: 0;
    }
    .menu-icon span {
        top: 50%;
        -webkit-transform: scale(1) translate(0px, -50%);
        -ms-transform: scale(1) translate(0px, -50%);
        transform: scale(1) translate(0px, -50%);
    }
    .menu-icon._active span {
        -webkit-transform: scale(0) translate(0px, -50%);
        -ms-transform: scale(0) translate(0px, -50%);
        transform: scale(0) translate(0px, -50%);
    }
    .menu-icon._active::before {
        top: 50%;
        -webkit-transform: rotate(-45deg) translate(0px, -50%);
        -ms-transform: rotate(-45deg) translate(0px, -50%);
        transform: rotate(-45deg) translate(0px, -50%);
    }
    .menu-icon._active::after {
        bottom: 50%;
        -webkit-transform: rotate(45deg) translate(0px, 50%);
        -ms-transform: rotate(45deg) translate(0px, 50%);
        transform: rotate(45deg) translate(0px, 50%);
    }
}

.option-btn {
    padding: 20px 15px;
    border: 1px solid white;
    border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.6);
    color: whitesmoke;
}

.footer {
    font-size: 14px;
    margin-top: 100px;
}
@media (max-width: 768px) {
    .footer {
        margin-top: 50px;
    }
}

.footer-body {
    padding: 15px 15px 0 15px;
    border-top: 1px solid black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.footer-body__conditions {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 60%;
    flex: 0 0 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.footer-body__contacts {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
@media (max-width: 768px) {
    .footer-body {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .footer-body__conditions {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}

.conditions div {
    margin: 5px 0;
}

.contacts a {
    margin: 5px;
    height: 30px;
    width: 30px;
}
.contacts img {
    height: 100%;
    width: 100%;
}

.wrapper {
    height: 100%;
}

.body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding-top: 100px;
}

.products-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 20px;
    margin: 0 -10px;
}

.product-item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333%;
    flex: 0 0 33.333%;
    margin: 0 0 50px 0;
    padding: 0 10px;
}
.product-item__img {
    display: block;
    padding: 0 0 100% 0;
    position: relative;
}
.product-item__img:hover .product-item__img-second {
    display: none;
}
.product-item__img img {
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    top: 0;
    left: 0;
}
.product-item__info {
    margin-top: 15px;
    font-size: 18px;
}
.product-item__title {
    font-weight: bold;
}
.product-item__price {
    margin-top: 10px;
}
.product-item__price::after {
    content: " RUB";
}
@media (max-width: 768px) {
    .product-item {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    }
}

.product {
    padding: 0 20px;
}
.product__constructor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.product__img {
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    padding: 0 0 30% 0;
}
.product__img img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.product__form {
    padding-left: 50px;
}
.product__title {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
}
.product__selects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 40px 0;
}
.product__btn button {
    font-size: 16px;
    text-transform: uppercase;
    background-color: black;
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    letter-spacing: 2px;
}
.product__btn:hover button {
    background-color: rgba(0, 0, 0, 0.85);
}
.product__description {
    margin-top: 40px;
    text-align: justify;
}
@media (max-width: 992px) {
    .product__img {
        padding: 0 0 45% 0;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 45%;
        flex: 0 0 45%;
    }
}
@media (max-width: 768px) {
    .product__constructor {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .product__img {
        padding: 0 0 100% 0;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    }
    .product__selects {
        margin: 10px 0;
    }
    .product__form {
        padding: 20px 0 0 0;
    }
}

.product-select {
    position: relative;
    min-width: 150px;
    margin-bottom: 20px;
}
.product-select[data-state=active] .product-select__title::before {
    -webkit-transform: translate(-3px, -50%) rotate(-45deg);
    -ms-transform: translate(-3px, -50%) rotate(-45deg);
    transform: translate(-3px, -50%) rotate(-45deg);
}
.product-select[data-state=active] .product-select__title::after {
    -webkit-transform: translate(3px, -50%) rotate(45deg);
    -ms-transform: translate(3px, -50%) rotate(45deg);
    transform: translate(3px, -50%) rotate(45deg);
}
.product-select[data-state=active] .product-select__content {
    opacity: 1;
}
.product-select[data-state=active] .product-select__input + .product-select__label {
    max-height: 40px;
    border-top-width: 1px;
}

.product-select__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 8px 16px;
    border-radius: 5px;
    border: solid 1px #ddd;
    -webkit-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
    cursor: pointer;
}
.product-select__title::before, .product-select__title::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 16px;
    display: block;
    width: 10px;
    height: 2px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    background-color: rgba(0, 0, 0, 0.45);
    -webkit-transform: translate(-3px, -50%) rotate(45deg);
    -ms-transform: translate(-3px, -50%) rotate(45deg);
    transform: translate(-3px, -50%) rotate(45deg);
}
.product-select__title::after {
    -webkit-transform: translate(3px, -50%) rotate(-45deg);
    -ms-transform: translate(3px, -50%) rotate(-45deg);
    transform: translate(3px, -50%) rotate(-45deg);
}
.product-select__title:hover {
    border-color: black;
}
.product-select__title:hover::before, .product-select__title:hover::after {
    background-color: black;
}

.product-select__content {
    position: absolute;
    top: 40px;
    left: 3px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: calc(100% - 6px);
    background-color: #ffffff;
    border: 1px solid #c7ccd1;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 0;
    z-index: 8;
}

.product-select__input {
    display: none;
}
.product-select__input:checked + label {
    background-color: rgba(0, 0, 0, 0.05);
}
.product-select__input:disabled + label {
    opacity: 0.6;
    pointer-events: none;
}

.product-select__label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 40px;
    max-height: 0;
    padding: 0 16px;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    cursor: pointer;
    overflow: hidden;
}
.product-select__label + input + .product-select__label {
    border-top: 0 solid rgba(199, 204, 209, 0.3764705882);
}
.product-select__label:hover {
    background-color: rgba(0, 0, 0, 0.15) !important;
}