<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/settings.css">
    <link rel="icon" href="/img/svg/logo.svg" type=”image/svg”>
    <title>shishkin</title>
</head>

<body>
<div class="wrapper">
    <div class="header">
        <div class="container">
            <div class="cap">
                <a th:href="@{/}" class="logo">
                    <div class="logo__img">
                        <img src="/img/svg/logo.svg" alt="">
                    </div>
                    <div class="logo__text">shishkin</div>
                </a>
                <nav class="menu">
                    <ul class="menu__list">
                        <li>
                            <a th:href="@{/products}" class="menu__link">Каталог</a>
                            <span class="menu__arrow arrow"></span>
                            <ul class="sub-menu__list">
                                <li>
                                    <a th:href="@{/products}" class="sub-menu__link">Все</a>
                                </li>
                                <li th:each="category : ${categories}">
                                    <a th:href="@{'/products?category=' + ${category.id}}" th:text="${category.name}" class="sub-menu__link"></a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a th:href="@{/leathers}" class="menu__link">Кожа</a>
                        </li>
                        <li>
                            <a href="" class="menu__link">Философия бренда</a>
                        </li>
                        <li>
                            <a href="" class="menu__link">Доставка и оплата</a>
                        </li>
                        <li sec:authorize="hasRole('ADMIN')">
                            <a class="menu__link">Admin</a>
                            <span class="menu__arrow arrow"></span>
                            <ul class="sub-menu__list">
                                <li>
                                    <a th:href="@{/orders}" class="sub-menu__link">Заказы</a>
                                </li>
                                <li>
                                    <a th:href="@{/promo-codes/settings}" class="sub-menu__link">Промокоды</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <div class="menu-icon">
                    <span></span>
                </div>
            </div>
        </div>
    </div>
    <div class="body">
        <div class="items-row">
            <div class="container">
                <div class="items-container">
                    <div th:each="leather : ${leathers}" class="item">
                        <div class="item__img">
                            <img th:each="image : ${leather.images}" th:src="@{/images/{imageId}(imageId=${image.id})}" alt="alt">
                        </div>
                        <div class="item__info">
                            <div th:text="${leather.name}" class="item__title"></div>
                            <div th:text="${leather.description}" class="item__text"></div>
                        </div>
                        <div class="item__interaction">
                            <a th:href="@{/leathers-colors/leather/{leatherId}(leatherId=${leather.id})}" class="item__btn">
                                <span>Добавить цвета</span>
                            </a>
                            <a th:href="@{/leathers/{leatherId}/edit(leatherId=${leather.id})}" class="item__btn">
                                <span>Изменить</span>
                            </a>
                            <form th:action="@{/leathers/{leatherId}(leatherId=${leather.id})}" th:method="delete" class="item__btn">
                                <button type="submit">
                                    <span>Удалить</span>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="new-item-row">
            <div class="container">
                <form th:action="@{/leathers}" method="post" enctype="multipart/form-data" class="form">
                    <div class="form__field">
                        <label for="name">Name:</label>
                        <input type="text" id="name" name="name" class="form__text-input" required>
                    </div>
                    <div class="form__field">
                        <label for="description">Description:</label>
                        <textarea id="description" name="description" class="form__text-input" required></textarea>
                    </div>
                    <div class="form__field">
                        <label for="image1">Image1:</label>
                        <input type="file" name="image1" id="image1" accept="image/*" required>
                    </div>
                    <div class="form__field">
                        <label for="image2">Image2:</label>
                        <input type="file" name="image2" id="image2" accept="image/*" required>
                    </div>
                    <div  class="form__btn">
                        <button type="submit">Добавить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer-main">
            <div class="container">
                <div class="footer-body">
                    <div class="footer-body__conditions conditions">
                        <div>Оферта</div>
                        <div>Политика конфидециальности</div>
                        <div>Возврат</div>
                    </div>
                    <div class="footer-body__contacts contacts">
                        <a href="mailto:mail@mail.com" class="contacts__mail">
                            <img src="/img/svg/email.svg" alt="">
                        </a>
                        <a href="https://t.me/eboy" class="contacts__tg">
                            <img src="/img/svg/telegram.svg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/script.js"></script>
</div>
</body>

</html>