<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/leather.css">
    <link rel="icon" href="/img/svg/logo.svg" type=”image/svg”>
    <title>shishkin</title>
</head>

<body>
<div class="wrapper">
    <div class="header">
        <div class="container">
            <div class="cap">
                <a th:href="@{/}" class="logo">
                    <div class="logo__img">
                        <img src="/img/svg/logo.svg" alt="">
                    </div>
                    <div class="logo__text">shishkin</div>
                </a>
                <nav class="menu">
                    <ul class="menu__list">
                        <li>
                            <a th:href="@{/products}" class="menu__link">Каталог</a>
                            <span class="menu__arrow arrow"></span>
                            <ul class="sub-menu__list">
                                <li>
                                    <a th:href="@{/products}" class="sub-menu__link">Все</a>
                                </li>
                                <li th:each="category : ${categories}">
                                    <a th:href="@{'/products?category=' + ${category.id}}" th:text="${category.name}" class="sub-menu__link"></a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a th:href="@{/leathers}" class="menu__link">Кожа</a>
                        </li>
                        <li>
                            <a href="" class="menu__link">Философия бренда</a>
                        </li>
                        <li>
                            <a href="" class="menu__link">Доставка и оплата</a>
                        </li>
                        <li sec:authorize="hasRole('ADMIN')">
                            <a class="menu__link">Admin</a>
                            <span class="menu__arrow arrow"></span>
                            <ul class="sub-menu__list">
                                <li>
                                    <a th:href="@{/orders}" class="sub-menu__link">Заказы</a>
                                </li>
                                <li>
                                    <a th:href="@{/promo-codes/settings}" class="sub-menu__link">Промокоды</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <div class="menu-icon">
                    <span></span>
                </div>
            </div>
        </div>
    </div>
    <div class="body">
        <a href="#popup" class="cart popup-link">
            <div class="cart__icon">
                <img src="/img/svg/cart.svg" alt="">
            </div>
            <div data-total-quantity th:text="${cart.getTotalQuantity()}" class="cart__quantity"></div>
            <div th:text="'= ' + ${cart.getTotalCost()} + ' RUB'" class="cart__cost"></div>
        </a>
        <div class="leather-row">
            <div class="container">
                <div class="leather">
                    <div class="leather__switcher">
                        <div class="leather__img leather-img">
                            <img th:each="leatherColor, iterStat : ${leatherColors}" th:src="@{/images/{imageId}(imageId=${leatherColor.image.id})}" alt="" class="leather-img__item" th:data-order="${iterStat.index}">
                        </div>
                        <div class="leather__radio leather-radio">
                            <div th:each="leatherColor, iterStat : ${leatherColors}" class="leather-radio__item" th:data-order="${iterStat.index}">
                                <div th:style="'background-color:' + ${leatherColor.color.code}" class="leather-radio__color"></div>
                                <div th:text="${leatherColor.color.name}" class="leather-radio__title"></div>
                            </div>
                        </div>
                    </div>
                    <div th:text="${leather.description}" class="leather__description"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="popup" class="popup">
        <div class="popup__body">
            <div class="popup__content">
                <a href="#" class="popup__close close-popup">
                    <img src="/img/svg/remove.svg" alt="">
                </a>
                <div class="order-cart">
                    <div class="order-cart__title">Ваш заказ</div>
                    <div class="order-cart__list">
                        <div th:each="plc : ${cart.products.keySet()}" class="order-cart__item order-cart-item">
                            <div class="order-cart-item__part1">
                                <div class="order-cart-item__img">
                                    <img th:src="@{/images/{imageId}(imageId=${plc.product.images[0].id})}" alt="">
                                    <!--                                    <img th:if="${plc.getImages != null}" th:src="@{/images/{imageId}(imageId=${plc.images[0].id})}" alt="">-->
                                </div>
                                <div class="order-cart-item__info">
                                    <div th:text="${plc.product.name}" class="order-cart-item__title"></div>
                                    <div th:text="'Кожа: ' + ${plc.leatherColor.leather.name}" class="order-cart-item__field"></div>
                                    <div th:text="'Цвет: ' + ${plc.leatherColor.color.name}" class="order-cart-item__field"></div>
                                </div>
                            </div>
                            <div class="order-cart-item__part2">
                                <div th:data-product-quantity="${plc.id}" class="order-cart-item__quantity">
                                    <div data-product-minus class="order-cart-item__minus">
                                        <img src="/img/svg/minus.svg" alt="">
                                    </div>
                                    <div data-product-counter th:text="${cart.products.get(plc)}" class="order-cart-item__count"></div>
                                    <div data-product-plus class="order-cart-item__plus">
                                        <img src="/img/svg/plus.svg" alt="">
                                    </div>
                                </div>
                                <div data-item-total-cost th:text="${plc.product.price * cart.products.get(plc)} + ' RUB'" class="order-cart-item__cost"></div>
                            </div>
                            <div data-product-remove class="order-cart-item__remove">
                                <img src="/img/svg/remove.svg" alt="">
                            </div>
                        </div>
                    </div>
                    <div data-total-cost th:text="'Сумма: ' + ${cart.totalCost} + ' RUB'" class="order-cart__total-cost"></div>
                    <form th:action="@{/orders}" method="post" class="order-cart-form" novalidate>
                        <div class="order-cart-form__field">
                            <label for="name">Ваше имя:</label>
                            <input type="text" id="name" name="name" class="order-cart-form__text-input" minlength="2" data-required required>
                        </div>
                        <div class="order-cart-form__field">
                            <label for="email">Ваш email:</label>
                            <input type="email" id="email" name="username" class="order-cart-form__text-input" data-required required>
                        </div>
                        <div class="order-cart-form__field">
                            <label for="tel">Ваш телефон:</label>
                            <input type="tel" id="tel" name="phoneNumber" data-tel-input class="order-cart-form__text-input" data-required required>
                        </div>
                        <div class="order-cart-form__field">
                            <label for="comment">Комментарий к заказу:</label>
                            <textarea id="comment" name="comment" class="order-cart-form__text-input" data-required maxlength="250"></textarea>
                        </div>
                        <div class="order-cart-form__feedback feedback">
                            <div class="feedback__title">Как с вами связаться для подтверждения заказа?</div>
                            <div class="feedback__communication-container">
                                <label class="communication _active">
                                    <input type="radio" name="communicationType" value="telegram" checked>
                                    <div class="communication__image">
                                        <img src="/img/svg/telegram.svg" alt="">
                                    </div>
                                    <div class="communication__select-icon">
                                        <img src="/img/svg/check-mark.svg" alt="">
                                    </div>
                                    <div class="communication__title">Telegram</div>
                                </label>
                                <label class="communication">
                                    <input type="radio" name="communicationType" value="whatsapp">
                                    <div class="communication__image">
                                        <img src="/img/svg/whatsapp.svg" alt="">
                                    </div>
                                    <div class="communication__select-icon">
                                        <img src="/img/svg/check-mark.svg" alt="">
                                    </div>
                                    <div class="communication__title">Whatsapp</div>
                                </label>
                                <label class="communication">
                                    <input type="radio" name="communicationType" value="email">
                                    <div class="communication__image">
                                        <img src="/img/svg/email.svg" alt="">
                                    </div>
                                    <div class="communication__select-icon">
                                        <img src="/img/svg/check-mark.svg" alt="">
                                    </div>
                                    <div class="communication__title">Почта</div>
                                </label>
                                <label class="communication">
                                    <input type="radio" name="communicationType" value="call">
                                    <div class="communication__image">
                                        <img src="/img/svg/phone.svg" alt="">
                                    </div>
                                    <div class="communication__select-icon">
                                        <img src="/img/svg/check-mark.svg" alt="">
                                    </div>
                                    <div class="communication__title">Звонок</div>
                                </label>
                            </div>
                            <div class="feedback__communication-input-container">
                                <div class="communication-input order-cart-form__field _active">
                                    <label for="telegram_nickname">Ваш никнейм в Telegram:</label>
                                    <input type="text" id="telegram_nickname" name="communicationData" class="order-cart-form__text-input" required data-required>
                                </div>
                                <div class="communication-input order-cart-form__field">
                                    <label for="tel2">Ваш номер телефона привязанный к Whatsapp:</label>
                                    <input type="text" id="tel2" name="" data-tel-input class="order-cart-form__text-input" data-required>
                                </div>
                                <div class="communication-input order-cart-form__field">
                                    <label for="email2">Ваша почта:</label>
                                    <input type="email" id="email2" name="" class="order-cart-form__text-input" data-required>
                                </div>
                                <div class="communication-input order-cart-form__field">
                                    <label for="tel3">Ваш номер телефона:</label>
                                    <input type="tel" id="tel3" name="" data-tel-input class="order-cart-form__text-input" data-required>
                                </div>
                            </div>
                        </div>
                        <div class="order-cart-form__delivery delivery">
                            <div class="delivery__title">Доставка</div>
                            <div class="delivery__method-container">
                                <div class="delivery-method _checked">
                                    <input type="radio" name="deliveryMethod" value="post" checked>
                                    <div class="delivery-method__mark mark">
                                        <span class="mark__checked"></span>
                                    </div>
                                    <div class="delivery-method__text">Почтой России</div>
                                </div>
                                <div class="delivery-method">
                                    <input type="radio" name="deliveryMethod" value="cdek">
                                    <div class="delivery-method__mark mark">
                                        <span class="mark__checked"></span>
                                    </div>
                                    <div class="delivery-method__text">Доставкой СДЭК</div>
                                </div>
                            </div>
                            <div class="order-cart-form__field fio-field">
                                <label for="fio">Получатель (ФИО полностью):</label>
                                <input type="text" id="fio" name="fio" class="order-cart-form__text-input" data-required required>
                            </div>
                            <div class="order-cart-form__field delivery__address">
                                <label for="address">Адрес:</label>
                                <input type="text" id="address" name="address" class="order-cart-form__text-input" data-required required>
                                <div class="delivery__address-options-container"></div>
                            </div>
                            <div class="order-cart-form__field">
                                <label for="promoCode">Промокод (если есть):</label>
                                <input type="text" id="promoCode" name="promoCode" class="order-cart-form__text-input">
                            </div>
                        </div>
                        <div class="order-cart-form__btn">
                            <button type="submit">Оформить заказ</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer-main">
            <div class="container">
                <div class="footer-body">
                    <div class="footer-body__conditions conditions">
                        <div>Оферта</div>
                        <div>Политика конфидециальности</div>
                        <div>Возврат</div>
                    </div>
                    <div class="footer-body__contacts contacts">
                        <a href="mailto:mail@mail.com" class="contacts__mail">
                            <img src="/img/svg/email.svg" alt="">
                        </a>
                        <a href="https://t.me/eboy" class="contacts__tg">
                            <img src="/img/svg/telegram.svg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/script.js"></script>
</div>
</body>

</html>